
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */

.btn {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;
  margin: 0 auto;

}
.btn #flipButton {
  color:white;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
