
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */

.btn {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #FF4C4C;
  margin: 0 auto;
}
.btn:hover {background-color: red}

.btn:active {
  background-color: red;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
.btn #flipButton {
  color:white;
  padding-top: 45%;
  font-size: 30px;
}
/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
